# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Environments
.env
.venv/
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
docker-compose.override.yml

# Jupyter
.ipynb_checkpoints/

# Test & Coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# Build
build/
dist/
*.egg
*.manifest
*.spec

# Misc
*.sqlite3
*.db

# Ignore local files
local_settings.py
